{
  "rules": [
    {
      "pattern": "**/*test*.cs",
      "allowedUser": "tester"
    },
    {
      "pattern": "**/*.cs",
      "allowedUser": "editor"
    },
    {
      "pattern": "**/*.config",
      "allowedUser": "admin"
    },
    {
      "pattern": "**/README.md",
      "allowedUser": "admin"
    }
  ]
}